*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	color: #4e4c4c;
	line-height: 1;
	font-family: "Lato", sans-serif;
}

.title-1 {
	font-family: Lora;
	font-weight:900;
	font-size: 70px;
	color: #03e4f8;S
	line-height: 134%;
	text-align: center;
	text-decoration: underline;
	text-shadow: 2px 2px 2px #000;
}

.title-1 span {
	color: rgb(41, 4, 255);
	text-decoration: underline;
	text-shadow: 0px 3px 3px rgb(248, 7, 7);
}

.header .introduction {
	color: blueviolet;
	font-weight: 900;
	font-size: small;
	font-style: italic;
}

.header p {
	color: black;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
}

.header img {
	float: right;
	margin: 7px 7px 7px 0;
	box-shadow: 5px 5px 5px rgb(36, 35, 35);
}

.title-2 {
	color: chartreuse;
	font-weight: 900;
	font-size: x-large;
	letter-spacing: 5px;
	text-decoration: unset;
	text-shadow: 3px 0px 2px #4e4c4c;
}

.main .beginning {
	color: chocolate;
	font-size: normal;
	font-family: fantasy;
	text-decoration: line-through;
}

.img__1 {
	float: left;
	margin: 10px 10px 10px 0;
	box-shadow: 5px 5px 5px rgb(36, 35, 35);
}

.title-3 {
	color: rgb(255, 7, 139);
	font-size: xx-large;
	font-weight: bolder;
	letter-spacing: 5px;
	font-family: monospace;
}

.main .beginning__1 {
	color: lawngreen;
	font-size: 33px;
	text-shadow: 1px 1px 1px black;
}

.img__2 {
	float: right;
	margin: 10px 10px 10px 0;
	box-shadow: 5px 5px 5px rgb(36, 35, 35);
}

.main .beginning__2 {
	color: orangered;
	font-family: cursive;
	font-size: 15px;
	font-style: oblique;
}

.beginning__2 span {
	color: rgb(41, 4, 255);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: x-large;
	font-style: normal;
}

.title-4 {
	color: rgb(29, 32, 41);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 50px;
	letter-spacing: 20px;
	font-style: italic;
	text-shadow: 0px 3px 5px rgb(248, 7, 7);
}

.beginning__3 {
	color: seagreen;
	font-size: xx-small;
	font-variant: small-caps;
	font-weight: 900;
}

.img__3 {
	float: left;
	margin: 10px 10px 10px 0;
	box-shadow: 5px 5px 5px rgb(36, 35, 35);
}

.title-5 {
	color: lightpink;
	font-size: 50px;
	font-variant: small-caps;
	font-weight: 200;
	text-decoration: line-through;
}

.middle__1 {
	color: navy;
	font-size: 22px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-6 {
	color: rgb(29, 32, 41);
	font-size: 40px;
	text-shadow: 10px 5px 3px springgreen;
}

.middle__2 {
	color: lightsalmon;
	font-size: 20px;
	font-weight: 200;
	font-style: italic;
}

.img__4 {
	float: right;
	margin: 10px 10px 10px 0;
	box-shadow: 5px 5px 5px rgb(36, 35, 35);
}

.title-7 {
	color: red;
	font-size: 40px;
	text-shadow: 20px 5px 3px blue;
}

.middle__3 {
	color: rgb(0, 255, 76);
	font-size: 16px;
	font-style: unset;
	font-family: cursive;
	text-decoration: line-through;
}

.img__5 {
	float: left;
	margin: 10px 10px 10px 0;
	box-shadow: 5px 5px 5px rgb(36, 35, 35);
}

.title-8 {
	color: orangered;
	font-weight: 900;
	font-size: 40px;
	text-decoration: underline;
	letter-spacing: 10px;
	font-style: italic;
}

.middle__4 {
	font-size: 18px;
	font-style: oblique;
	font-variant: small-caps;
}

.img__6 {
	float: right;
	margin: 10px 10px 10px 0;
	box-shadow: 5px 5px 5px rgb(36, 35, 35);
}

.footer h1 {
	color: black;
	font-size: 30px;
	text-shadow: 2px 2px 2px red;
	letter-spacing: 20px;
}